@model MVCBase.Models.ContainerAndVesselVisit.ContainnerAndVesselVisitModel

@{
    ViewBag.Title = "Index";
}






       <div class="row">
           <div class="col-lg-5">
               @Html.Partial("~/Views/VesselVisit/Index.cshtml", Model.VesselList)
           </div>
           <div class="col-lg-2"></div>

           <div class="col-lg-5 ">
               @Html.Partial("~/Views/Container/Index.cshtml", Model.ContainerList)
           </div>
       </div>

        
    



      @Html.Partial("~/Views/Contacts/Index.cshtml")


<div id ="ajax">
    
</div>
